/*
Style for Inutivent
*/

/*
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*html {
	width: 320px;
}*/

/*
Stuff
*/

body {
	font-family: sans-serif;
	background-image: url(images/paper_white.jpg);
}

#wrapper {
}

#content {
	word-wrap: break-word;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #1B6F8E; /*#e34623;*/
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #025579;
}

input,
textarea,
input:focus,
textarea:focus {
	outline: none;
	font-family: sans-serif;
	font-size: 100%;
	border: 1px solid #aaa;
	padding: 5px;
	color: #444;
}

input:hover:enabled,
textarea:hover:enabled {
	border: 1px solid #888;
}

input:active:enabled,
input:focus:enabled,
textarea:active:enabled,
textarea:focus:enabled {
	border: 1px solid #888;
	box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3) inset;
}

button {
	border: none !important;
	background-color: #1B6F8E; /*#e34623;*/
	color: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.25);
	font-size: 90%;
	padding: 5px 8px 6px 8px;
}

button:hover:enabled {
	background-color: #57A5C3;
}

button:active:enabled {
	background-color: #034761;
}

button.delete {
	background-color: #f00;
}
button.delete:hover {
	background-color: #f66;
}
button.delete:active {
	background-color: #a00;
}

textarea {
	width: 100%;
}

input {
	max-width: 100%;
}

input[type="file"],
input[type="file"]:hover,
input[type="file"]:active {
	border: none;
	box-shadow: none;
}

.section {
	width: 100%;
	display: block;
}

.inside {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	color: #444;
}

.big-padding {
	padding: 80px 0;
}
.small-padding {
	padding: 40px 0;
}
.heading-top-margin {
	margin-top: 80px;
}

.inside h1 {
	font-weight: bold;
	font-size: 120%;
	margin-bottom: 24px;
}

.inside h2 {
	font-weight: bold;
	font-size: 100%;
	margin: 16px 0;
}

ul.list  {
	margin-left: 20px;
}

ul.list li {
	list-style-type: disc;
}

#header {
	background-color: #e34623;
	background-image: url(images/paper_color.jpg);
	color: #fff;
	padding: 10px 0;
	border-bottom: 2px solid #722312;
	margin-bottom: 2px;
}

#header .logo {
	display: block;
	width: 177px;
	margin: 0 auto;
	line-height: 0;
}

#header img {
}

#header .options {
	position: absolute;
	top: 24px;
	right: 20px;
}

#header a {
	color: #fff;
}

#cover {
	text-align: center;
	width: 100%;
}

#cover .wrapper {
	width: 100%;
	position: relative;
	float: left;
	clear: none;
	overflow: hidden;
}

#cover img {
	width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	z-index: 1;
}

#cover h1 {
	display: block;
	position: absolute;
	width: 100%;
	bottom: 10px;
	left: 0;
	z-index: 4;
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 1px 6px #000;
}

/*#cover .wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 6px;
	box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.5) inset;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 3;
}*/
#cover .wrapper:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 2px;
	/*box-shadow: 0px -4px 10px -5px rgba(0, 0, 0, 1.0) inset;*/
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
}

#cover-editor {
	/*position: absolute;*/
	background-color: #eee;
	background-image: url(images/paper.jpg);
}

#cover-editor .inside {
	text-align: center;
}

#event-info {
}

#event-info .inside {
	text-align: justify;
}

#event-info .facts {
	display: block;
	text-align: center;
}

#event-info .fact {
	width: 140px;
	text-align: center;
	display: inline-block;
	margin: 0 0 20px 0;
	vertical-align: top;
}

#event-info .details {
	font-size: 120%;
}

#event-info .button-container {
	margin-top: 20px;
}


#user-info {
	background-color: #eee;
	background-image: url(images/paper.jpg);
}

#user-info .inside {
	text-align: center;
/*	background-color: #eeeeee;
	border-radius: 5px;*/
}

#user-info .name {
	padding-bottom: 10px;
}

#user-info .status {
	display: block;
	text-align: center;
}

#user-info .status button {
	font-size: 100%;
	width: 180px;
	padding: 16px 0;
	margin: 10px 10px 0 10px;
}

#user-info .status button.selected {
	background-image: url(images/tick.png);
	background-repeat: no-repeat;
	background-position: 92% 50%;
}

#user-info .status button.unselected {
	opacity: 0.25;
}

#user-info .status button.unselected:hover:enabled {
	opacity: 1;
}

#user-info .status button.yes {
	background-color: #0a0;
}
#user-info .status button.yes:hover:enabled {
	background-color: #0b0;
}
#user-info .status button.yes:active:enabled {
	background-color: #080;
}

#user-info .status button.maybe {
	background-color: #fa0;
}
#user-info .status button.maybe:hover:enabled {
	background-color: #fb0;
}
#user-info .status button.maybe:active:enabled {
	background-color: #c80;
}

#user-info .status button.no {
	background-color: #a00;
}
#user-info .status button.no:hover:enabled {
	background-color: #c00;
}
#user-info .status button.no:active:enabled {
	background-color: #700;
}

#event-content {
}

#posts {
    margin-right: -201px;
    float:left;
    width:100%;
}

#posts-content {
	margin-right: 241px;
}

#posts .post {
	margin-bottom: 16px;
}

#posts .post .name {
	/*color: #666;*/
	font-weight: bold;
}

#posts .post .time {
	color: #aaa;
	font-size: 75%;
}

#event-details-text img,
.post img {
	max-width: 100%;
	max-height: 420px;
	display: block;
	clear: both;
}

#people {
	width: 160px;
	float: left;
	padding-left: 40px;
	border-left: 1px solid #e8e8e8;
}

#people li {
	color: #666;
}

#people .note {
	color: #aaa;
	font-size: 75%;
	margin-top: 10px;
}

.footnote {
	/*color: #aaa;*/
	font-size: 75%;
}

.big-button {
	min-width: 140px;
	padding: 16px 16px;
}

#event-create .group,
#invite .group,
#event-editor .group {
	margin-bottom: 20px;
}

#event-create .group input,
#event-editor .group input {
	display: inline-block;
	width: 300px;
}

#event-create .group label,
#event-editor .group label {
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
/*	float: left;*/
}

#event-create .group br,
#event-editor .group br {
	clear: left;
}

#invite .inside a {
	display: inline-block;
}

#invite input[type="submit"] {
	margin-right: 30px;
}

#welcome {
	font-size: 150%;
}

#welcome .inside {
	text-align: center;
}

#welcome .inside p {
	margin-bottom: 20px;
}

#welcome-why {
	background-color: #eee;
	background-image: url(images/paper.jpg);
}

#welcome-why img {
	display: block;
	position: absolute;
}

#welcome-why .inside {
/*	background-color: #019997;
	border-radius: 5px;
	color: #fff;*/
}

#welcome-why .text {
	margin-left: 240px;
	margin-right: 20px;
}

#welcome-why li {
	margin-bottom: 6px;
}

#welcome-how .inside {
	text-align: justify;
}

#error .inside {
	text-align: center;
	font-size: 150%;
}

#footer {
	background-color: #e34623;
	background-image: url(images/paper_color.jpg);
	text-align: center;
	margin-top: 140px;
	border-top: 2px solid #722312;
}

#footer a {
	color: #fff;
	text-decoration: underline;
}

#footer .inside {
	padding: 20px 0 0 0;
	text-align: center;
	color: #fff;
}

#footer .column {
	float: left;
	width: 50%;
	min-width: 250px;
	text-align: center;
	padding-bottom: 20px;
}

#footer .right {
}

#footer .column p {
	margin: 0 20px;
}

#footer img {
	margin-top: 10px;
}

/*
Mobile
*/

@media all and (max-width: 640px) {

	.inside {
		width: 90%;
	}

	.big-padding {
		padding: 40px 0;
	}
	.small-padding {
		padding: 20px 0;
	}
	.heading-top-margin {
		margin-top: 40px;
	}

	#header .logo {
		margin: 0 0 0 5%;
	}

	#header img {
		width: 88px;
	}

	#header .options {
		top: 13px;
		right: 5%;
		font-size: 80%;
	}

	#cover h1 {
		font-size: 120%;
	}

	#cover-editor {
		position: static;
	}

	#welcome {
		font-size: 100%;
	}

	#welcome-why img {
		display: block;
		position: static;
		float: right;
		max-width: 100px;
	}

	#event-info img,
	#user-info img,
	#posts img,
	#people img,
	#error img {
		width: 40px;
	}

	#welcome-why .text {
		margin-left: 20px;
	}

	#event-info .fact {
		width: 80px;
		font-size: 80%;
	}

	#event-info .details {
		font-size: 100%;
	}

	#posts {
	    margin-right: 0;
	    float:none;
	}

	#posts-content {
		margin-right: 0;
	}

	#people {
		width: 100%;
		float: none;
		padding-left: 0;
		border-left: none;
		margin-top: 40px;
	}

	#error .inside {
		font-size: 100%;
	}

	#footer {
		margin-top: 50px;
	}

	#footer .column {
		float: none;
		width: 100%;
		text-align: justify;
	}

	#footer .column p {
		margin: 0;
	}
}